.constructorPanel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - var(--main-padding));
  padding-top: 100px;
  box-sizing: border-box;
}

.constructorItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  overflow-y: auto;
}

.constructorItems {
   display: flex;
   flex-direction: column;
   gap: 16px
}

.orderSummary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.totalPrice {
  font-size: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
}