.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: #1c1c21;
  border-radius: 40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: 24px;
}

.status {
  color: var(--text-color);
}

.statusDone {
  color: #00cccc;
}

.iconsContainer {
  display: flex;
  padding-left: 12px;
}

.iconWrapper {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--bg-color);
  transform: scale(1.05);
}

.counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 33, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}