.mainContent {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.appBody {
  display: flex;
  gap: 40px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
