.feedContainer {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.ordersColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  padding-right: 8px;
}

.statsColumn {
  padding-top: 25px;
}

.boards {
  display: flex;
  gap: 36px;
}

.board {
  flex: 1;
}

.boardList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 250px;
}

.orderNumber {
  color: #f2f2f3;
}

.orderNumberDone {
  color: #00cccc;
}

.glow {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}