.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  padding: 40px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.orderDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 440px;
  box-sizing: border-box;
}

.orderDetailsIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.ingredientDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientDetailsNutrition {
  display: flex;
  gap: 20px;
  text-align: center;
}

.ingredientDetailsNutritionItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}