:root {
  --bg-color: #131316;
  --text-color: #F2F2F3;
  --inactive-text-color: #8585AD;
  --accent-color: #4C4CFF;
  --header-height: 90px;
  --main-padding: 40px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 20px;
  border: 3px solid #2f2f37;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9a9cc;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2f2f37;
}